<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">게시판</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">검색 게시판</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-6">
                    <!-- 게시판 처리 -->
                    {#
                    for문을 사용하여서 데이터를 하나씩 추출하여 테이블 형태를 맞춰준다.
                    #}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">수집한 최신 뉴스</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <input type = 'text' name = 'searchWord' placeholder="검색" id = 'searchWord'/>
                            <button onclick="search()">검색</button>
                            <ul id = 'resultDP'>
                                <li>하이브는....</li>
                            </ul>
                            <table class="table table-bordered">
                                <thead>
                                    <!-- table orow -->
                                    <tr>
                                        <!-- table header -->
                                        <th style="width: 10px">No.</th>
                                        <th>제목</th>
                                        <th>링크</th>
                                        <th style="width: 100px">비고</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for news in bbs %}
                                        <tr>
                                            <!-- table data -->
                                            <td>{{ news.get('id') }}</td>
                                            <td>{{ news.get('title') }}</td>
                                            <td>
                                                <a href = "{{ news.get('link') }}">바로가기</a>
                                            </td>
                                            <td><span class="badge bg-danger">55%</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                // 조작하고 싶은 요소 바로 밑에서 처리 가능
                                function search()
                                {
                                    console.log('검색 시작');
                                    // 검색 요청 -> 화면 고정 -> ajax를 사용
                                    // 간결한 작업을 위해, jQuery 사용
                                    // 0. jQuery 포함 혹은 위치 조정
                                    // 1. 검색어 획득 => 검색어 입력 없이 검색하는 케이스는 스킵
                                    let searchWord = $('#searchWord').val()
                                    console.log('searchWord',searchWord)
                                    // 2. 검색어에 해당 되는 뉴스 목록 요청 (ajax의 get방식)
                                    $.get({
                                        url : '/search',   // 서버 주소(url)
                                        data: 'q=' + searchWord, // 서버로 전송할 데이터
                                        datatype:'json', // 서버가 응답하는 데이터 포맷
                                        success:function(res){
                                            // 3. 뉴스 결과가 도착
                                            console.log('통신성공', res);
                                            resultShow(res)
                                        }, // 통신 성공하면 자동호출
                                        error : function(err){
                                            console.log('통신실패', err);
                                        } // 통신 실패하면 자동호출
                                    })
                                }
                                // 검색 결과 화면 처리
                                function resultShow(res)
                                {
                                    $('#resultDP').empty()
                                    // 4. 검색 결과 리스팅
                                    $.each(res, function(idx, item){
                                        // 화면 조작
                                        $('#resultDP').append(`
                                        <li><a href = '${item.link}'>${item.title}</a></li>
                                        `)
                                    })

                                    // 5. 결과를 클릭하면 해당 뉴스로 바로 이동
                                }
                            </script>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>